  <!-- Header -->
  <header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <img src="assets/magic-cropping-tool-logo.png" width="45vw" class="mr-3">
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4 
      bg-gradient-to-r bg-clip-text text-transparent from-indigo-400
      via-pink-500 to-indigo-500 animate-text" routerLink="/">MAGIC CROPPING TOOL</a>

      <div class="font-semibold flex flex-grow items-center text-gray-700  ">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li routerLinkActive="text-indigo-400">
            <a class="px-2" routerLink="/about" routerLinkActive="text-indigo-400">About</a>
          </li>
          <li routerLinkActive="text-indigo-400">
            
            <a  href="https://github.com/AdrienHdz/saliency-maps-app" target="_blank" rel="noreferrer noopener" class="px-2"> Source</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>