<!-- Main Content -->
<section class="container mx-auto p-6 mt-8">
    <div class="font-bold text-gray-700 fond-bold font-sans text-xl">
        <span>What is Magic Cropping Tool?</span>
    </div>
    <div class="text-gray-700 text-base mt-2 text-justify">
        <span>Hello! <b>Magic Cropping Tool</b> is a small open source project created by me: <a href="https://www.linkedin.com/in/adrienhernandez/" class="hover:underline text-indigo-400">Adrien Hernandez</a>. I'm a machine learning engineering specialist and Entrepreneur. <br>
            This web app aims at showcasing my skills in <b>AI, software development and deployment on Cloud Platforms.</b><br>
            It is not intended to be a commercial product ever. The goal of this project is simply to demonstrate the potential of AI in practical applications
            and to offer users a way to interact with an AI model for picture cropping. While it is not a comprehensive solution, it offers an experience for thoses interested in exploring the capabilities of AI! <br>
        </span>
    </div>
    <div class="font-bold text-gray-700 mt-10 fond-bold font-sans text-xl">
        <span>Privacy Policy</span>
    </div>
    <div class="text-gray-700 text-base">
        <span>This project is open-source, and the images uploaded to the website are not stored on the server.</span>
    </div>
    <div class="font-bold text-gray-700 mt-10 fond-bold font-sans text-xl">
        <span>Technology stack used for this project</span>
    </div>
    <div class="flex items-center justify-center">
        <img src="assets/magic-cropping-tool-stack.png" width="500vw" class="mt-6">
    </div>

    <div class="font-bold text-gray-700 mt-10 fond-bold font-sans text-xl">
        <span>Licensing</span>
    </div>
    <div class="text-gray-700 text-base">
        <span>The artificial intelligence model utilized on this website in production is based on the exceptional work of <a href="https://github.com/twitter-research/image-crop-analysis" class="hover:underline text-indigo-400">Twitter Research </a>.</span>
        <br>
        <span>The html and css layout of this website draws inspiration from the <a href="https://zerotomastery.io/courses/learn-angular/" class="hover:underline text-indigo-400">Complete Angular Developer in 2023</a> course from ZTM, which I completed and found to be amazing.</span>
    </div>
</section>

