<!-- Main Content -->
<section class="container mx-auto p-6 mt-8">
    <div class="font-bold text-gray-700 fond-bold font-sans text-xl">
        What is Magic Cropping Tool?
    </div>
    <div class="text-gray-700 text-base mt-2 text-justify">
        <span>Hello! <b>Magic Cropping Tool</b> is a small open source project created by me: <a href="https://www.linkedin.com/in/adrienhernandez/" class="hover:underline text-indigo-400">Adrien Hernandez</a>. I'm a machine learning engineering specialist and Entrepreneur. <br>
            This web app aims at showcasing my skills in <b>AI, software development and deployment on Cloud Platforms.</b><br>
            It is not intended to be a commercial product ever. The goal of this project is simply to demonstrate the potential of AI in practical applications
            and to offer users a way to interact with an AI model for picture cropping. While it is not a comprehensive solution, it offers an experience for thoses interested in exploring the capabilities of AI! <br>
        </span>
    </div>
    <div class="font-bold text-gray-700 mt-10 fond-bold font-sans text-xl">
        Privacy Policy
    </div>
    <div class="text-gray-700 text-base">
        This project is open-source, and the images uploaded to the website are not stored on the server.
    </div>
    <div class="font-bold text-gray-700 mt-10 fond-bold font-sans text-xl">
        Technology stack used for this project
    </div>
    <div class="flex items-center justify-center">
        <img src="assets/magic-cropping-tool-stack.png" width="500vw" class="mt-6">
    </div>

    <div class="font-bold text-gray-700 mt-10 fond-bold font-sans text-xl">
        Licensing
    </div>
    <div class="text-gray-700 text-base">
        The artificial intelligence model used in production for this website directly comes from the amazing work done by <a href="https://github.com/twitter-research/image-crop-analysis" class="hover:underline text-indigo-400">Twitter Research </a>.
    </div>
</section>

